body {
    margin-left: 123px;
}

h1 {
    margin-top: 215px;
    font-weight: 400;
}

.thougth {
    color: green;
}

.images-container img {
    width: 285px;
    height: 199px;
    object-fit: cover;
}